 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 870px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 801px;
  margin: 10px 0 0 570px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -592px 554px 0 28px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 84px;
  height: 88px;
  margin: -193px 445px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 63px;
  height: 71px;
  transform-origin: center center 0px;
  position: relative;
  top: 9px;
  left: 11px;
  transform: rotate(339deg);
}

.u-section-1 .u-image-2 {
  width: 181px;
  height: 159px;
  margin: -145px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 116px 660px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    height: 102px;
  }

  .u-section-1 .u-image-1 {
    margin: -252px 455px 60px auto;
  }

  .u-section-1 .u-image-2 {
    height: 160px;
    margin-top: -158px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 488px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 162px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-right: 256px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 277px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("static/W92JWBZxowUsuTRGwUUAbehQKk.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-2 .u-group-1 {
  width: 335px;
  height: auto;
  background-image: none;
  min-height: 295px;
  margin: 103px auto 0 371px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 35px auto 0 31px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: -46px 9px 0 auto;
}

.u-section-2 .u-group-2 {
  min-height: 141px;
  height: auto;
  margin-top: 73px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 31px 45px 0 9px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -21px 23px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 335px;
  background-image: url("static/fs3tG9xVDUnmFcj2WaHEnskrdmY.jpg");
  background-position: 50% 50%;
  height: 318px;
  margin: -252px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  background-image: none;
  min-height: 142px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 21px 8px 0;
}

.u-section-2 .u-icon-3 {
  width: 67px;
  height: 67px;
  margin: -43px 23px 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -170px 194px 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 55px 0 0 auto;
}

.u-section-2 .u-group-5 {
  width: 335px;
  height: 318px;
  background-image: none;
  margin: -8px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 290px;
  height: 290px;
  margin: 0 auto;
}

.u-section-2 .u-group-6 {
  background-image: none;
  margin-top: -112px;
  margin-bottom: 0;
  min-height: 131px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 15px 44px 0 14px;
}

.u-section-2 .u-icon-5 {
  width: 55px;
  height: 55px;
  margin: -36px 9px 0 auto;
  padding: 0;
}

.u-section-2 .u-group-7 {
  width: 335px;
  height: auto;
  background-image: none;
  min-height: 290px;
  margin: -257px auto 60px 378px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0 29px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: -46px 31px 0 auto;
}

.u-section-2 .u-group-8 {
  background-image: none;
  margin-top: 61px;
  margin-bottom: 0;
  min-height: 143px;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 21px;
  padding-right: 21px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -18px 9px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-2 .u-group-1 {
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-2 .u-icon-2 {
    padding: 13px;
  }

  .u-section-2 .u-image-1 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: -140px;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 21px;
  }

  .u-section-2 .u-icon-3 {
    padding: 0;
  }

  .u-section-2 .u-group-5 {
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 643px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 205px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 146px;
  }

  .u-section-2 .u-group-7 {
    margin-left: 205px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 5px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-7 {
    margin-left: 5px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 737px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 117px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  width: 755px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 50px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-list-2 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-2 {
  min-height: 287px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px 30px;
}

.u-section-3 .u-group-1 {
  width: 346px;
  min-height: 248px;
  margin: 10px auto -43px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 36px auto 0 16px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px 30px;
}

.u-section-3 .u-group-2 {
  width: 346px;
  min-height: 248px;
  margin: 10px auto -43px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 18px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 36px auto 0 16px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px 30px;
}

.u-section-3 .u-group-3 {
  width: 346px;
  min-height: 248px;
  margin: 10px auto -43px 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 18px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 36px auto 0 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-repeater-2 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 542px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 320px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }

  .u-section-3 .u-group-3 {
    width: 320px;
  }
} .u-section-4 {
  background-image: url("static/K5loDKWeucFN0ZfkewiG1MoNUOA.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-4 .u-group-1 {
  width: 346px;
  background-image: none;
  min-height: 486px;
  height: auto;
  margin: 85px auto 0 41px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-icon-1 {
  width: 131px;
  height: 131px;
  margin: 46px auto 0 42px;
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 58px 23px 0;
}

.u-section-4 .u-image-1 {
  width: 96px;
  height: 96px;
  margin: -422px 261px 0 auto;
}

.u-section-4 .u-icon-2 {
  width: 154px;
  height: 154px;
  margin: -125px 232px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 81px 0 auto;
}

.u-section-4 .u-group-2 {
  width: 346px;
  background-image: none;
  min-height: 502px;
  height: auto;
  margin: 194px 340px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 19px 0;
}

.u-section-4 .u-shape-1 {
  width: 198px;
  height: 198px;
  margin: 16px auto 0 67px;
}

.u-section-4 .u-icon-3 {
  width: 78px;
  height: 78px;
  margin: -138px auto 0 127px;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 101px 8px 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -688px 131px 60px auto;
  padding: 28px 40px 29px 39px;
}

.u-section-4 .u-icon-4 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 695px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 174px;
  }

  .u-section-4 .u-group-2 {
    margin-right: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 244px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 110px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 125px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }
}