.u-section-1 .u-sheet-1 {
  min-height: 976px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 821px;
  margin: 43px 159px 0;
}

.u-section-1 .u-line-1 {
  width: 932px;
  transform-origin: left center 0px;
  margin: 27px auto 0 104px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 513px;
  margin: 20px 314px 0;
}

.u-section-1 .u-image-1 {
  width: 533px;
  height: 520px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 97px auto 0 -17px;
}

.u-section-1 .u-shape-1 {
  width: 591px;
  height: 320px;
  margin: -574px -21px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 591px;
  height: 316px;
  margin: 27px -21px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 234px;
  height: 198px;
  margin: -602px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 234px;
  height: 198px;
  margin: 147px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -141px 254px 0 auto;
  padding: 27px 45px 28px 44px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -428px 240px 60px auto;
  padding: 28px 15px 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 160px;
    margin-right: 160px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -606px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 54px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -427px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 332px;
    margin-left: 400px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -386px;
    margin-left: 400px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -602px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 797px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 821px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 108px auto 0;
}

.u-section-2 .u-line-1 {
  width: 932px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 513px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  width: 884px;
  margin: 36px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 565px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-2 .u-line-2 {
  width: 394px;
  transform-origin: right center 0px;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-2 .u-line-3 {
  width: 394px;
  transform-origin: left center 0px;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-2 .u-line-4 {
  width: 394px;
  transform-origin: left center 0px;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-2 .u-line-5 {
  width: 394px;
  transform-origin: left center 0px;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-9 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-line-2 {
    width: 320px;
  }

  .u-section-2 .u-line-3 {
    width: 320px;
  }

  .u-section-2 .u-line-4 {
    width: 320px;
  }

  .u-section-2 .u-line-5 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 101px 55px 0;
}

.u-section-3 .u-line-1 {
  width: 932px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px auto 0 96px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 321px 0 306px;
}

.u-section-3 .u-group-1 {
  width: 400px;
  min-height: 544px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 67px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-group-2 {
  min-height: 372px;
  width: 510px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 0 -168px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 224px;
  height: 224px;
  background-image: url("images/successful-old-businessman-suit-glasses-looking-confident.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  --animation-custom_in-scale: 0.3;
  margin: -405px 21px 60px 605px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 435px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-left: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 221px;
    margin-left: 206px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -288px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: 112px 0 0 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 441px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 111px;
    margin-left: 96px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -346px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 21px;
    margin-left: 6px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -306px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }
}